.profilePage {
    display: flex;
    flex-direction: row;
    gap: 16px; /* Расстояние между колонками */
    padding: 16px;
}

.profileInfo {
    flex: 1.5;
    max-width: 400px; /* Увеличить максимальную ширину */
    background-color: #f9f9f9; /* Цвет фона */
    border: 1px solid #ddd; /* Граница */
    border-radius: 8px; /* Скругленные углы */
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
}

.properties {
    flex: 2.5;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
