.property {
    margin: 16px auto; /* Центрирование компонента */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.image {
    width: 250px;
    height: 250px;
    object-fit: cover; /* Указывает, как изображение вписывается в область */
    border-radius: 8px; /* Закругление изображения */
}

.details {
    margin-top: 12px;
}

.title {
    font-size: 1.2rem;
    color: #007BFF;
}

.title:hover {
    color: orangered;
    cursor: pointer;
}

.price {
    font-weight: bold;
    font-size: 1.2rem;
}

.location {
    font-size: 1.1rem;
    color: gray;
}


.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1); /* Тонкая граница */
    border-left-color: #007BFF;
    border-radius: 50%;
    width: 50px; /* Диаметр */
    height: 50px; /* Диаметр */
    animation: spin 1s linear infinite; /* Анимация вращения */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
